.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-neutral-600);
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
.logo:hover {
  text-decoration: none;
}
